<script type="text/javascript">
	var active = -1;
	var total = 0;

	var showAddPopup = function() {
		$("#add_popup").dialog();
	};

	var performSearch = function() {
		var keywords = $('#keywords').val();
		$.ajax({
			type: "GET",
			url: "<%= search_movies_path %>",
			data: { keywords: keywords }
		}).done(function(msg) {
			$('#search_results_list').html('');
			$('#search_results').show();
			total = msg.results.length;
			$(msg.results).each(function(index, item) {
				var listItem = '';
				listItem += '<li id="result_' + index + '" class="result_item">';
				listItem += '<a href=\'';
				listItem += item.url;
				listItem += '\'>';
				listItem += item.title;
				listItem += ' (' + item.year + ')';
				listItem += '</a>';
				listItem += '</li>';
				$('#search_results_list').html($('#search_results_list').html() + listItem);
			});
		});
	};

	var highlight = function(index) {
		if (index < 0) index = 0;
		if (index > total - 1) index = total - 1;
		var previous = $('#result_' + active);
		var result = $('#result_' + index);
		previous.removeClass('active');
		result.addClass('active');
		active = index;
	};

	var visitMovie = function(index) {
		var movie = $('#result_' + index);
		top.location.href = $(movie.children()[0]).attr('href');
		resetStuff();
	};

	var resetStuff = function() {
		setTimeout(function(){
			$('#search_results').hide();
			$('#search_results_list').html('');
			active = -1;
			total = 0;
		}, 500);
	};

	$(function() {
		$("#keywords").keydown(function(event) {
			if ( event.which == 13 ) {
				event.preventDefault();
				if (active > -1 && active < total) {
					visitMovie(active);
				} else {
					performSearch();
				}
			} else if (event.keyCode == 40) { //down
				event.preventDefault();
				highlight(active + 1);
			} else if (event.keyCode == 38) { //up
				event.preventDefault();
				highlight(active - 1);
			}
		});

		$("#keywords").on('blur', function() {
			setTimeout(function(){
				resetStuff();
			}, 1000);
		});
	});

</script>


<div class="row">

	<div class="col-lg-6 col-sm-12 col-xs-12">
		<h1 style="float:left;">My Movies</h1>
	</div>
	<div class="col-lg-6 col-sm-12 col-xs-12">
		<form>
			<div id="add_popup" title="Add a Movie" style="margin-top: 25px;">
				<div class="input-group">
					<input id="keywords" type="text" placeholder="Movie Title" class="string optional input-medium search-query form-control" autocomplete="off"/>
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" onclick="performSearch();"><i class="glyphicon glyphicon-search"></i></button>
					</span>
				</div>
				<div id="search_results" style="display:none;">
					<ul id="search_results_list"></ul>
				</div>
			</div>
		</form>
	</div>

</div>



<div id="my_movies_list">

	<ul class="product-grid row">
		<% @movies.each do |movie| %>
			<li class="col-xs-12 col-sm-4 col-md-3">
				<div class="product clearfix" style="height: 100%;">
					<div class="image">
						<center>
							<%= link_to movie_path(movie.imdb_id), class: 'main' do %>
								<%= image_tag movie.poster_image.url(:medium)%>
							<% end %>
						</center>
					</div>
					<div class="title">
						<%= link_to movie.title, movie_path(movie.imdb_id) %>
					</div>
					<div class="links">
						<%= link_to 'View', movie_path(movie.imdb_id), class: 'view_section_link' %>
					</div>
				</div>
			</li>
		<% end %>
	</ul>
	<div class="row">
		<div class="col-xs-6 col-sm-3 col-md-3">
			<div class="digg_pagination">
				<%= will_paginate @movies, container: false %>
			</div>
		</div>
	</div>
</div>

