<script type="text/javascript">
	var movieId = '<%= @movie.id %>';
	var addMovie = function() {
		$.ajax({
			type: "POST",
			url: "<%= associate_user_movies_path %>",
			data: { movie_id: movieId  }
		}).done(function(msg) {
			$('#add_movie_button').hide();
			$('#remove_movie_button').show();
		});
	};
	var removeMovie = function() {
		$.ajax({
			type: "POST",
			url: "<%= disassociate_user_movies_path %>",
			data: { movie_id: movieId  }
		}).done(function(msg) {
			$('#add_movie_button').show();
			$('#remove_movie_button').hide();
		});
	};
</script>


<div class="row">

	<div class="col-lg-4">
		<h1 style="text-align: center;"><%= @movie.title%> (<%= @movie.year %>)</h1>
		

	</div>
	<div class="col-lg-8">
		<%= link_to 'Remove Movie From My Library', 'javascript:removeMovie();', id: 'remove_movie_button', style: ('display:none;' unless @user_movie_join), class: 'btn btn-primary right movie_button' %>
		<%= link_to 'Add Movie To My Library', 'javascript:addMovie();', id: 'add_movie_button', style: ('display:none;' if @user_movie_join), class: 'btn btn-primary right movie_button' %>
	</div>
</div>

<div class="row">
	<div class="col-lg-4">
		<img src=<%= @movie.poster_image.url(:large) %>, style="width: 100%; height: auto;"/>
	</div>

	<div class="col-lg-8">
		<div class="row">
			<div class="col-lg-5">
				<h4>IMDB Rating: <%= @movie.imdb_rating %>/10</h4>
				<h4>Tomato Rating: <%= @movie.tomato_rating %></h4>
			</div>
			<div class="col-lg-5">
				<h4>Metascore: <%= @movie.metascore %>/100</h4>
				<h4>Your Rating: </h4>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-5">

			</div>
		</div>
	</div>
</div>

<div class="row">
	Rated: <%= @movie.rated %><br />
	Released: <%= @movie.released.strftime("%B %d, %Y") %><br />
	Runtime: <%= @movie.runtime %><br />
	Genre: <%= @movie.genre %><br />
	Directors: <%= @movie.director %><br />
	Writers: <%= @movie.writer %><br />
	Actors: <%= @movie.actors %><br />
	Plot:	<%= @movie.plot %><br />
	Awards: <%= @movie.awards %><br />
	Website: <%= @movie.website %><br />
	Production: <%= @movie.production %><br />
</div>

<br />
<br />
<br />
<br />
<br />
<%= link_to 'Back to My Movies', movies_path, class: 'btn btn-primary' %>