<script type="text/javascript">
	var movieId = '<%= @movie.id %>';
	var addMovie = function() {
		$.ajax({
			type: "POST",
			url: "<%= associate_user_movies_path %>",
			data: { movie_id: movieId  }
		}).done(function(msg) {
			$('#add_movie_button').hide();
			$('#remove_movie_button').show();
		});
	};
	var removeMovie = function() {
		$.ajax({
			type: "POST",
			url: "<%= disassociate_user_movies_path %>",
			data: { movie_id: movieId  }
		}).done(function(msg) {
			$('#add_movie_button').show();
			$('#remove_movie_button').hide();
		});
	};
</script>

<div class="row" style="margin-top: 15px;">
	<div class="col-lg-4" style="margin-top: 20px;">
		<img src=<%= @movie.poster_image.url(:large) %>, style="width: 100%; height: auto;"/>
		<center>
			<%= link_to 'javascript:removeMovie();', id: 'remove_movie_button', style: ('display:none;' unless @user_movie_join), class: 'btn btn-primary movie_button' do %>
				<i class="fa fa-times"></i> Remove Movie From My Library
			<% end %>
			<%= link_to 'javascript:addMovie();', id: 'add_movie_button', style: ('display:none;' if @user_movie_join), class: 'btn btn-primary-green movie_button' do %>
				<i class="fa fa-plus"></i> Add Movie To My Library
			<% end %>
		</center>
	</div>

	<div class="col-lg-8">
		<h1><%= @movie.title%> (<%= @movie.year %>)</h1>

		<% [

				 [{display: 'Director', value: @movie.director},
					{display: 'Runtime', value: @movie.runtime}],

				[{display: 'IMDB Rating', value: "#{@movie.imdb_rating} / 10"},
				 {display: 'Tomato Rating', value: "#{@movie.tomato_rating}#{' / 10' if @movie.tomato_rating != 'N/A'}"}],

				[{display: 'Metascore', value: "#{@movie.metascore} / 100"},
				 {display: 'Your Rating', value: "N/A"}],

				[{display: 'Rated', value: @movie.rated},
				 {display: 'Released', value: @movie.released.strftime("%B %d, %Y")}],

				[{display: 'Production', value: @movie.production},
				 {display: 'Genre', value: @movie.genre}],

				[{display: 'Website', value: "#{link_to @movie.website, @movie.website}"}],
				[{display: 'Writers', value: @movie.writer}],
				[{display: 'Actors', value: @movie.actors}],
				[{display: 'Awards', value: @movie.awards}],

			 ].each do |row| %>
			<div class="row">
				<% if row.length == 1 %>
					<% column = row[0] %>
					<div class="col-lg-12">
						<h4 class="movie_field">
							<b class="movie_info_label"><%= (column[:display] || '').html_safe %></b>:
							<span class="movie_info_data">
								<%= (column[:value] || '').html_safe %>
							</span>
						</h4>
					</div>
				<% else %>
					<% row.each do |column| %>
							<div class="col-lg-5">
								<h4 class="movie_field">
									<b class="movie_info_label"><%= (column[:display] || '').html_safe %></b>:
									<span class="movie_info_data">
										<%= (column[:value] || '').html_safe %>
									</span>
								</h4>
							</div>
					<% end %>
				<% end %>
			</div>
		<% end %>

	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<h4 class="movie_field">
			<span class="movie_info_data">
				<%= @movie.plot %>
			</span>
		</h4>
	</div>
</div>

<br />

<%= link_to 'Back to My Movies', movies_path, class: 'btn btn-default' %>