<!DOCTYPE html>
<html>
<head>
	<title>TrackYourSh.it</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body class="overlay">
<div id="page-wrapper">
	<%= render 'header' %>



	<section class="content-block default-bg">

		<div class="container" style="padding-top:0px;">
			<% if notice %>
				<p class="notice" style="margin-top: 15px; margin-bottom: 5px;"><%= notice %></p>
			<% end %>
			<% if alert %>
			<p class="alert" style="padding: 0;"><%= alert %></p>
			<% end %>
			<%= yield %>
		</div>

	</section>





	<%= render 'footer' %>

</div>
</body>
</html>
