<!DOCTYPE html>
<html>
	<head>
		<title>TrackYourSh.it</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>

	<body class="overlay">
		<div id="page-wrapper">
			<% if current_user %>
				<%= render 'signed_in_header' %>
			<% else %>
				<%= render 'signed_out_header' %>
			<% end %>

			<%= yield %>

			<%= render 'footer' %>
		</div>
	</body>
</html>
